@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap');

:root {
    --debug-border: none;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 99vh;
    border: #ff0000 5px var(--debug-border);
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 0%, 100%);
    border-radius: 17px;
    width: 20%;
    border: #0b7e00 5px var(--debug-border);
}

.qr-code-src {
    width: 90%;
    height: auto;
    border-radius: 12px;
    margin: 15px;
    border: #d2b000 5px var(--debug-border);
}

.text {
    text-align: center;
    gap: 0.5rem;
    max-width: 80%;
    margin: auto;
    border: #fc6b05 5px var(--debug-border);
}

#title {
    margin-bottom: 25px;
    color: hsl(218, 44%, 22%);
    border: #dc00ff 5px var(--debug-border);
}

#description {
    margin-bottom: 70px;
    color: hsl(220, 15%, 55%);
    border: #0022ff 5px var(--debug-border);
}
